BODY {
    animation: 2s ease-in 0s 1 transitionBG;
    background-color: var(--main-bg-colour);
    font-family: Montserrat, sans-serif;
    /* background-color: #555; */
}

:root {
    /* --main-bg-colour: #000033;
    --start-bg-colour: #0000b3; */
    /* --text-colour: white; */
    --main-bg-colour: #555;
    --start-bg-colour: white;
    --text-colour: white;
}
/* CHANGE TO NOT USE KEYFRAMES.  Use opacity fading in for the text instead of colour, it's the same and cleaner */
.fade-in {
    animation: 2s ease-in 0s 1 textHideTransition, 2s ease-in 2s 1 textTransitionIn;
    color: var(--text-colour);
}

.fade-in-2 {
    animation: 2s ease-in 0s 1 textHideTransition, 4s ease-out 2s 1 textSecondIn;
    color: var(--text-colour);
}

#welcome-message {
    padding: 40vh 0;
}

@keyframes textHideTransition {
    0% {
        color: var(--start-bg-colour);
    }
    100% {
        color: var(--main-bg-colour);
    }
}
@keyframes textTransitionIn {
    0% {
        color: var(--main-bg-colour);
    }
    100% {
        color: var(--text-colour);
    }
}

@keyframes textSecondIn {
    0% {
        color: var(--main-bg-colour);
    }
    50% {
        color: var(--main-bg-colour);
    }
    100% {
        color: var(--text-colour);
    }
}


@keyframes transitionBG {
    0% {
        background-color: var(--start-bg-colour);
    }
    100% {
        background-color: var(--main-bg-colour);
    }
}

#line {
    height: 180px;
    width: 100%;
}

#curve {
    position: relative;
    display: none;
    width: 85%;
    height: 180%;
    top: -160px;
    left: -160px;
    display: none;
    border: solid 5px #4792ce;
    /* border-radius: 160% / 0 0 200% 200%;  */
    border-radius: 100%; 
    background-color: #4792ce;
    /* -webkit-transition: height 1.5s ease-in;
    -moz-transition: height 1.5s ease-in;
    -o-transition: height 1.5s ease-in;
    transition: height 1.5s ease-in; */
}
/* #curve {
    position: absolute;
    display: none;
    width: 80%;
    height: 320px;
    top: -160px;
    left: -160px;
    display: none;
    border: solid 5px #4792ce;
    border-radius: 160% / 0 0 200% 200%; 
    border-radius: 100%; 
    background-color: #4792ce;
    -webkit-transition: height 1.5s ease-in;
    -moz-transition: height 1.5s ease-in;
    -o-transition: height 1.5s ease-in;
    transition: height 1.5s ease-in; 
} */

#line h1 {
    font-family: Montserrat;
    color: white;
    position: relative;
    top: 180px;
    left: 50%;
}

/* #curve {
    position: relative;
    display: none;
    width: 500px;
    height: 120px;  
    border: solid 5px #4792ce;
    border-radius: 160% / 0 0 200% 200%;
    background-color: #4792ce;
    /* -webkit-transition: height 1.5s ease-in;
    -moz-transition: height 1.5s ease-in;
    -o-transition: height 1.5s ease-in;
    transition: height 1.5s ease-in; 
} */


/* .curved {
    width: 500px; 
    height: 120px;  
    border: solid 5px aqua;
    border-radius: 160% / 0 0 200% 200%;
    background-color: aqua;
    -webkit-transition: all 1.5s ease-in;
    -moz-transition: all 1.5s ease-in;
    -o-transition: all 1.5s ease-in;
    transition: all 1.5s ease-in;
} */
/* 
#line{
    height: 50px;
    background-color: #4792ce;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
} */