BODY {
    animation: 2s ease-in 0s 1 transitionBG;
    background-color: var(--main-bg-colour);
    font-family: Montserrat, sans-serif;
    /* background-color: #555; */
}

:root {
    /* --main-bg-colour: #000033;
    --start-bg-colour: #0000b3; */
    /* --text-colour: white; */
    --main-bg-colour: #555;
    --start-bg-colour: white;
    --text-colour: white;
}


